version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
      - "dependencies"
    commit-message:
      prefix: "build"
    ignore:
      - dependency-name: "grpcio"
    cooldown:
      default-days: 7

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
    commit-message:
      prefix: "build"
    cooldown:
      default-days: 7
