repos:

- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.18.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==23.3.0

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
    args:
    - src
    - tests
    - doc

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args:
    - --toml
    - pyproject.toml
    - --ignore-words
    - doc/styles/config/vocabularies/ANSYS/accept.txt
    additional_dependencies:
    - tomli

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies:
    - tomli
    files: ^src/

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: check-yaml
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.1
  hooks:
  - id: check-github-workflows

# Ansys pre-commit hooks for license headers and version management
- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.2
  hooks:
  - id: add-license-headers
    args:
    - --start_year=2021

- repo: local
  hooks:
  - id: version-increment-check
    name: Version Increment Check
    entry: python .script/pre_push_version_check.py
    language: system
    stages: [pre-commit]
    always_run: true
    pass_filenames: false
    description: "Check if version was incremented appropriately by developer"
    verbose: true
